html,body{
    height: 100vh;
    width: 100vw;
}
header{
    height: 30vh;
    width: 100vw;
    background-color: rebeccapurple;
    color: white;
    font-size: xx-large;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
